In [5]:
import pandas as pd
import numpy as np
from xml.etree import ElementTree as ET

In [6]:
# get data
document_tree = ET.parse("data/mondial_database.xml",)
document_root = document_tree.getroot()

# dataframe for the population measurement with year and country 
df_city_pop = pd.DataFrame(columns=["city", "year", "population"])

# iterate over xml - tree and extract
# city, year and population
for country in document_root.getiterator("country"):
    for city in country.iter("city"):
        city_name = city.find("name").text
        
        if city.findall("population") is None:
            continue;
        
        for pop in city.findall("population"):
            year = pop.attrib["year"]
            population = pop.text
            
            df_city_pop = df_city_pop.append(
            {
                "city": city_name,
                "year": year,
                "population": population
            }, ignore_index=True)
            
# check the data
df_city_pop.head()

      city  year population
0   Tirana  1987     192000
1   Tirana  1990     244153
2   Tirana  2011     418495
3  Shkodër  1987      62000
4  Shkodër  2011      77075

In [7]:
# copy dataframe to save it for changes
df_city_pop_c = df_city_pop.copy()

# dataframe for the latest population measurement with year and city 
df_latest_city_pop = pd.DataFrame(columns=["city", "year", "population"])

# change population column to numeric
df_city_pop_c["population"] = pd.to_numeric(df_city_pop_c["population"])

# select all unique cities
cities = df_city_pop["city"].unique()

# assamble all cities with latest population measurement in one dataframe
for city in cities:
    city_pop = df_city_pop_c[df_city_pop_c.city == city]
    latest_measurement = city_pop[city_pop["year"] == city_pop["year"].max()]
    df_latest_city_pop = df_latest_city_pop.append(latest_measurement)

# sort values by population in descending order and take the first 10 elements
df_latest_city_pop.sort_values("population", ascending=False)[0:10]

           city  year  population
3750   Shanghai  2010  22315474.0
2607   Istanbul  2012  13710512.0
4303     Mumbai  2011  12442373.0
1546     Moskva  2013  11979529.0
3746    Beijing  2010  11716620.0
8208  São Paulo  2010  11152344.0
3754    Tianjin  2010  11090314.0
3364  Guangzhou  2010  11071424.0
4399      Delhi  2011  11034555.0
3371   Shenzhen  2010  10358381.0